{% extends "base.html" %}

{% block content %}
<h1 class="title">
<h1>malexple-blog</h1>
    Инструкции в сфере IT и open-source
<hr>
<div class="author">
    <p>Здравствуйте! Добро пожаловать на мой сайт.</p>
    <p>Я создал этот ресурс по нескольким причинам:.</p>
    <p>1. <b>Поделиться опытом.</b> У меня появилась потребность делиться успешным и не очень опытом в профессиональной сфере.</p>
    <p>2. <b>Создание инструкций.</b> Я буду писать статьи в формате руководств, чтобы фиксировать решения задач, которые со временем забываются.</p>
    <p>3. <b>Эксперименты с идеями.</b> Этот сайт — возможность попробовать на практике некоторые технические идеи, которые давно меня интересовали.</p>
    <p>4. <b>Общение.</b> Я хочу делиться своими мыслями и, возможно, найти единомышленников.</p>
</div>
</h1>
<p>Используемый шрифт для веб страницы Times New Roman</p>
{% endblock content %}
