{% extends "base.html" %}

{% block content %}
<h1 class="title">
<h1>malexple-blog</h1>
Инструкции в сфере IT технологий и open-source.
<hr>
<div class="author">
    <p>Привет, добро пожаловать на мой уютный мини сайт.
    Данный ресурс я создал, по нескольким причинам.</p>
    <p>1. Появилась насущная потребность рассказывать о своём удачном или не удачном опыте.</p>
    <p>2. Писать статьи в виде инструкций, так как со временем забываешь что ты делал.</p>
    <p>3. Возможность попробовать на практике некоторые идеи, которые давно хотел сделать.</p>
    <p>4. Поделиться своими мыслями и возможно найти единомышленников.</p>
</div>
</h1>
<p>Используемый шрифт для веб страницы Times New Roman</p>
{% endblock content %}
